/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.krona {
  font-family: 'Krona One', sans-serif;
  color: white;
  background-color: black;
  font-size: 1vw;
}

.gallery {
  display: inline-block;
  width: 63%;
  height: 63%;
}

.ubuntu {
  font-family: 'Ubuntu', sans-serif;
  background-color: #470d0d;
  color: white;
}

.bangers {
  background-color: #3b68ab;
  color: #fee201;    
  font-family: 'Bangers', cursive;
  text-align: center;
}

.titan {
  font-family: 'Titan One', cursive;
  background-color: #102e82;
  color: white;
}

.space {
  font-family: 'Space Mono', monospace;
}

.iris {
  background-image: url("../images/skyline.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}

.collection {
  color: coral;
  background-color: black;
}

a {
  color: coral;
  text-decoration: none;
}

a:hover {
   color:#00A0C6; 
   text-decoration:none; 
   cursor:pointer;  
}

#train {
  background-color: white;
  color: #006dcc;
}

.indent {
  text-indent: 0.25em;
}